body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}
.header {
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
    text-align: center;

}

.text-justify {
    text-align: justify;
    margin: 20px 0;
}
.text-center {
    text-align: center;
    margin: 20px 0;
}

img {
    width: 280px;
    height: auto;
}
.button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: darkred;
  }

.container {
    justify-content: space-between 50px;
    
}
.projet {
    display: inline-flex;
    align-items: center;
    gap: 50px;
    font-size: 18px;
    color: white;
    padding: 40px;
    margin-bottom: 40px;
}

/* Media query pour les écrans de moins de 480px (smartphones en portrait) */
@media (max-width: 480px) {
    body {
        font-size: 14px; /* Réduire la taille du texte */
        flex-direction: column; /* Passer en mode colonne */
    }

    .header {
        gap: 10px; /* Réduire l'écart entre les éléments du header */
        flex-direction: column; /* Passer en mode colonne */
    }

    .projet {
        font-size: 16px; /* Réduire la taille du texte des projets */
        padding: 15px;
        flex-direction: column;
    }

    .container {
        flex-direction: column;
        align-items: center;
        margin: 0; /* Enlever la marge pour plus d'espace */
        flex-direction: column;
    }
}